# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# Url Amigables

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1

RewriteEngine On
RewriteCond %{HTTP_HOST} ^backend.nutrega\.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\backend.nutrega\.com.ar$
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://backend.nutrega.com.ar/$1 [R=301,L,NE]